@import 'global.css';

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-bottom: 24px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    background-color: var(--color-background);
    border-radius: 12px;

    .status {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;
        height: 28px;
        padding: 0px 10px;
        background-color: var(--color-background-alt);
        width: fit-content;
        border-radius: 8px;

        i {
            font-size: 14px;
        }
    }
}

.refresh {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    button {
        background-color: var(--color-background-alt);
        outline: none;
        border: none;
        border-radius: 999px;
        height: 26px;
        width: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        i {
            font-size: 14px;
            color: var(--color-text);
        }
    }

    p {
        color: var(--color-subtitle);
    }
}

.list {
    width: 100%;
    flex: 1 0 0;
}

.list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .col {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
    }

    .divider {
        margin: 0px 8px;
        height: 16px;
        border-left: 1px solid var(--color-stroke);
    }
}

.tab {
    display: flex;
    gap: 4px;
    background-color: var(--color-background);
    padding: 4px;
    border-radius: 10px;

    button {
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--color-subtitle);
    }

    button:hover {
        background-color: var(--color-background-alt);
        color: var(--color-text);
    }

    button.active {
        background-color: var(--color-background-alt);
        box-shadow: inset 0 0 0 1px var(--color-stroke);
        color: var(--color-text);
    }
}

.list-blank {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 48px);
    display: none;

    p {
        color: var(--color-subtitle);
        margin-top: 4px;
    }
}


.list-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.model-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 20px;
    background-color: var(--color-background);
    border-radius: 10px;

    .col {
        display: flex;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;

        p {
            color: var(--color-subtitle);
        }
    }
}

.add-model {
    min-width: 680px;
}

.add-model-action {
    align-self: flex-end;
}

.parameter {
    .title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        cursor: pointer;

        i {
            font-size: 16px;
        }
    }

    .body {
        display: none;
        margin-top: 24px;
        flex-direction: column;
        gap: 24px;
    }
}

.search-model {
    display: none;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    background-color: var(--color-neutral);
    max-width: 648px;
    width: 100%;
    z-index: 5;
    padding: 4px;
    border: 1px solid var(--color-stroke);
    border-radius: 8px;
    margin-top: 68px;
    height: 264px;
    overflow-y: scroll;

    .item {
        cursor: pointer;
        border-radius: 4px;
    }

    .item:hover {
        background-color: var(--color-background);
    }

    .item.active {
        background-color: var(--color-background);
    }

    .item-title {
        display: flex;
        justify-content: space-between;
        padding: 6px 8px;
    }

    .item-body {
        display: none;
        flex-direction: column;
        gap: 4px;
        padding: 6px 8px;
        padding-bottom: 8px;

        h4 {
            color: var(--color-subtitle);
        }
    }

    .ggfu-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        padding: 4px;
        background-color: var(--color-neutral);
        border-radius: 6px;

        h5 {
            flex: 1 0 0;
            margin-left: 8px;
        }
    }
}