@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-variation-settings: "slnt" 0;
    font-optical-sizing: auto;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
    scrollbar-width: none;
    scrollbar-gutter: stable overlay;
}

h1, h2, h3, h4, h5, h6, small, p, span, a {
    margin: 0;
    padding: 0;
    text-shadow: none; 
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
    -ms-overflow-style: none;
    scrollbar-width: none;
    color: var(--color-text);
    background-color: var(--color-neutral);
}

body::-webkit-scrollbar {
    display: none;
}

/* font weight */
.reguler {
    font-weight: 400;
    font-style: normal;
}

.medium {
    font-weight: 500;
    font-style: normal;
}

/* font size */
.text-12px {
    font-size: 12px;
    line-height: 16px;
}

.text-14px {
    font-size: 14px;
    line-height: 20px;
}

.text-16px {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
}

.text-20px {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
}

/* color collection */
:root {
    --color-text: #FFFFFF;
    --color-subtitle: #818282;
    --color-primary: #2483FF;
    --color-stroke: #272829;
    --color-neutral: #0D0E0F;
    --color-background: #151617;
    --color-background-alt: #1C1D1E;
    --color-success: #00D75E;
}

/* component: sidebar */
sidebar {
    padding: 12px 0px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 256px;
    width: 100%;
    border-right: 1px solid var(--color-stroke);
    z-index: 5; 
    background-color: var(--color-background);
    height: 100dvh;
    overflow: hidden;

    .wrapper {
        flex: 1 0 0;
        width: 100%;
    }

    p {
        color: var(--color-subtitle)
    }

    img {
        height: 32px;
        padding: 4px;
    }
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-left: 1px solid var(--color-stroke);
    padding: 16px 0px;
    width: 100%;
}

.sidebar-item {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-text);
    border-top: 1px solid var(--color-background);
    border-bottom: 1px solid var(--color-background);

    i {
        font-size: 20px;
        color: var(--color-subtitle);
    }
}

.sidebar-item.active {
    background-color: var(--color-background-alt);
    border-top: 1px solid var(--color-stroke);
    border-bottom: 1px solid var(--color-stroke);

    i {
        color: var(--color-text);
    }
}

.sidebar-item:hover {
    background-color: var(--color-background-alt);
}

/* component: layouting */
.container {
    max-width: calc(100% - 256px);
    margin-left: auto;
    position: relative;
}

/* component: button */
.btn-lg {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0px 12px;
    color: var(--color-text);
    text-decoration: none;
    border-radius: 8px;
    width: fit-content;
    cursor: pointer;
}

.btn-md {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 0px 12px;
    color: var(--color-text);
    text-decoration: none;
    border-radius: 8px;
    width: fit-content;
    cursor: pointer;
}

.btn-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    padding: 0px 10px;
    color: var(--color-text);
    text-decoration: none;
    border-radius: 6px;
    width: fit-content;
    cursor: pointer;

    i {
        font-size: 12px;
    }
}

.btn-sm-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;

    i {
        font-size: 14px;
        color: var(--color-text) !important;
    }
}

.btn-md-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;

    i {
        font-size: 16px;
        color: var(--color-text) !important;
    }
}

.btn-primary {
    background-color: var(--color-text);
    color: var(--color-neutral);
    box-shadow: inset 0 -3px 0px rgb(0, 0, 0, 0.2);
    border: none;
}

.btn-secondary {
    background-color: var(--color-background-alt);
    border: none;
}

/* component: header */
.header {
    position: fixed;
    width: calc(100% - 256px);
    top: 0;
    right: 0;
    z-index: 15;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 0px 24px;
    border-bottom: 1px solid var(--color-stroke);
    background-color: var(--color-neutral);

    .col {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;

        i {
            font-size: 16px;
            color: var(--color-subtitle);
        }
    }
}

/* component: dropdown */
.dropdown {
    position: relative;
}

.dropdown-trigger {
    display: flex;
    flex-direction: column;
    gap: 6px;

    h2 {
        color: var(--color-subtitle);
    }

    .item {
        display: flex;
        justify-items: flex-start;
        gap: 8px;
        align-items: center;
        padding: 0px 14px;
        height: 40px;
        border: 1px solid var(--color-stroke);
        border-radius: 8px;
        min-width: 200px;
        cursor: pointer;

        h3 {
            flex: 1 0 0;
        }

        i {
            font-size: 14px;
        }
    }
}

.dropdown-list {
    flex-direction: column;
    gap: 4px;
    position: absolute;
    background-color: var(--color-background);
    padding: 4px;
    border-radius: 8px;
    display: none;
    min-width: 164px;

    .dropdown-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 4px 8px;
        gap: 8px;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        color: var(--color-text);

        h2 {
            flex: 1 0 0;
        }

        i {
            font-size: 16px;
            color: var(--color-subtitle);
        }
    }

    .dropdown-item:hover {
        background-color: var(--color-background-alt);
    }
}

.dropdown-list.show {
    display: flex;
}

/* component: badget */
.badge {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    height: 24px;
    border: 1px solid var(--color-stroke);
    border-radius: 6px;
    padding: 0px 8px;
    width: fit-content;
    background-color: var(--color-background-alt);

    .indicator {
        width: 6px;
        height: 6px;
        border-radius: 999px;
    }
}

.badge-success {.indicator {background-color: var(--color-success);}}
.badge-disable {
    .indicator {
        background-color: var(--color-subtitle);
    } 
    
    h2 {
        color: var(--color-subtitle);
    }
}

.content {
    padding: 24px;
    min-height: calc(100dvh - 48px);
    margin-top: 52px;
}