@import 'global.css';

.content {
    display: flex;
    justify-content: center;
    align-content: center;
}

.wrapper {
    max-width: 732px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.title {
    text-align: center;
    margin-top: 24px;

    h3 {
        color: var(--color-subtitle);
        margin-top: 4px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.form-doc, .form-text {
    padding: 16px;
    border-radius: 12px;
    background-color: var(--color-background);
}

.form-doc-list {
    display: flex;
    gap: 8px;
    width: 100%;
    margin-top: 16px;

    .item {
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: center;
        align-items: center;
        padding: 24px 0px;
        border-radius: 8px;
        width: 100%;
        cursor: pointer;
        border: 1px solid var(--color-stroke);
    }

    .item:hover {
        background-color: var(--color-background-alt);
    }

    .item.active {
        border: 1px solid var(--color-stroke);
        background-color: var(--color-background-alt);
    }
}

